<header style=" background-color: rgba(172, 172, 172, 0);">
  <nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
      <img id="logo" class="navbar-brand" src="../assets/Stark.png" alt=""> <a class="navbar-brand text-white"
        routerLink='/github' id="title" routerLinkActive='active'>{{title}}</a>
      <div id="bs-example-navbar-collapse-1">
        <div class="nav nav-pills">
          <span class="nav-item"><a style="border-radius: 10px;" class="nav-link profile" routerLink='/profile' routerLinkActive='active'>Profile</a></span>

          <span class="nav-item"><a style="border-radius: 10px;" class="nav-link search user and repository" routerLink='/search' routerLinkActive='active'>Search User and Repository</a></span>

        </div>

      </div>

    </div>

  </nav><br/>
</header>
  <body>
  <router-outlet></router-outlet>
</body>
