<div class="container" style=" background-color: rgba(255, 255, 255, 0.39); padding-top: 100px; font-family: 'Patrick Hand', cursive;">
  <div class="row">
    <div class="col">
      <form #gitform='ngForm' class="form-search">
        <div class="form-group">
          <p id="nillie">Search User</p>
          <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="username" name="username"
            (keyup)="findProfile();getprofilerepo(username)">

        </div>
      </form>
      <div class='row'>
        <div class="col-md-6">
          <div *ngIf="user">
            <p>{{user.name}}</p>
            <p><a href="{{user.html_url}}" target="blank">{{user.login}}</a></p>
            <p>{{user.company}}</p>
          </div>
          <object onerror="this.scr='../../assets/alt.png';" width="200px" height="200px">
          <img src="{{user.avatar_url}}" width="200px" height="200px" class="img-circle img-responsive">
          </object>
          <p>{{user.email}}</p>
          <hr>
          <div>
          </div>
        </div>
        <div class="col-md-6">
          <p>
            <span class="label label-default" *ngIf="user.following"> Following {{user.following}} </span><br/>
            <span class="label label-primary" *ngIf="user.followers"> Followers {{user.followers}} </span><br/>
            <span class="label label-success" *ngIf="user.following"> Public gists {{user.public_gists}} </span>
            <br>
            <span class="label label-primary"> Repositories {{user.public_repos}} </span>
          </p>
          <p>{{user.bio}}</p>
          <p>{{user.blog}}</p>
          <p>{{user.hireable}}</p>
          <p>{{user.location}}</p>
          <p><a href="{{user.html_url}}" class="btn btn-success" target="blank">View in Github</a></p>
        </div>


        <div class="card-body" class="d-flex flex-column" *ngFor='let repo of repos'>

          <h4> <a href="{{repo.html_url}} " class="p-2" target="_blank">{{repo.name}}

            </a>
          </h4>
          <p>{{repo.description}}</p>
          <p>{{repo.url}}</p>
          <hr>
        </div>
      </div>
    </div>


    <div class="col">

      <form #gitform='ngForm' class="form-search">
        <div class="form-group">
          <p id="nillie">Search Repository</p>
          <input type="text" class="form-control" placeholder="Enter repository name" #gitsearchrepo
            (keyup)="findrepo(gitsearchrepo)">

        </div>
      </form>

      <div class="card-body" *ngFor='let repository of repositories'>
        <h4> {{repository.name}}
        </h4>
        <p>{{repository.url}}</p>
        <hr/>
      </div>
    </div>
  </div>
</div>
