input {
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.5);
}
.container {
  background-color: rgba(255, 255, 255, 0.39)
}
img {
  border-radius: 100px;
  border-color: rgba(124, 124, 124, 0);
}
::placeholder {
  font-style: italic;
  letter-spacing: 5px;
  font-size: 18px;
}
#nillie {
  font-size: 30px;
}
